body {
}

.outerDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myGrid {
    background-color: aquamarine;
    width: 90%;
    height: 80%;

    display: grid;
}

.defaultNode {
    background-color: darkgray;
    border: 1px solid green;

    /*width: 100%;*/
    /*height: 5px;*/
}

.colouredNode {
    background-color: aqua;
    border: 1px solid green;
}